<launch>
  <node pkg="hector_mapping" type="hector_mapping" name="hectorthing">
    <param name="scan_topic" value="scan_filtered" />
    <param name="odom_frame" value="odom" />
    <param name="map_frame" value="map" />
  </node>

  <include file="$(find husky_navigation)/launch/dual_ur5_laser_filter.launch">
  </include>

  <include file="$(find astra_launch)/launch/astra.launch" />

  <node pkg="tf" type="static_transform_publisher" name="goal_offset" args="1 0 0 0 0 1 0 /object_1 /goal 10" />

  <include file="$(find find_object_2d)/launch/find_object_3d_astra_objects.launch" />
</launch>

